{% extends '_base.html' %}

{% block title %}Virtual Machine Groups{% endblock %}

{% block content %}
    <div class="pull-right">
        {% if perms.virtual.add_virtual_machine %}
            <a href="{% url 'virtual:virtual_machine_group_add' %}" class="btn btn-primary">
                <span class="fa fa-plus" aria-hidden="true"></span>
                Add a virtual machine group
            </a>
            <a href="{% url 'virtual:virtual_machine_group_add' %}" class="btn btn-info">
                <span class="fa fa-download" aria-hidden="true"></span>
                Import virtual machine groups
            </a>
        {% endif %}
    </div>
    <h1>Virtual Machine Groups</h1>
    <div class="row">
        <div class="col-md-9">
            {% include 'utilities/obj_table.html' %}
        </div>
    </div>
{% endblock %}
